<header class="bar-header">
    <div class="d-flex align-items-center">
        <h2>Thread</h2>
        <span># Channelname</span>
    </div>
    <button (click)="closeThread()" class="btn-unset close-thread-btn"><img src="assets/svg/x.svg"></button>
</header>
<div class="channel-thread">
    <div class="thread-options">
        <button class="btn-unset"><img src="assets/img/emoji_D1D2D3.png"></button>
        <button class="btn-unset"><img src="assets/img/threads_D1D2D3.png"></button>
        <button class="btn-unset"><img src="assets/img/share_D1D2D3.png"></button>
        <button class="btn-unset"><img src="assets/img/bookmark_D1D2D3.png"></button>
    </div>
    <img [src]="thread.userSrc" class="channel-thread-img">

    <div class="channel-thread-content">
        <!-- This div gets *ngFor for all thread (load max 12 thread and scroll up for older thread) -->
        <p><span>{{ thread.userName + " " }}</span><span *ngIf="thread.creationDate" class="span-time">{{ thread.creationDate| date }}</span></p>
        <p [innerHTML]="thread.message"></p>
        <img *ngIf="thread.img" [src]="thread.img" alt="">
        <p class="d-flex">
            only if reactions already exist
            <button>:-)</button>
            <button>:) +</button>
        </p>
    </div>
</div>
<div class="thread-separator">
    <div class="thread-flexpane">
        <span class="thread-flexpane-count">Antworten</span>
        <hr class="separator-line">
    </div>
</div>
<div class="channel-thread" *ngFor="let comment of comments">
    <img [src]="comment.userSrc" class="channel-thread-img">
    <div class="channel-thread-content">
        <!-- This div gets *ngFor for all comment (load max 12 comment and scroll up for older comment) -->
        <p>
            <span><b>{{ comment.userName + " " }}</b></span>
            <span *ngIf="comment.creationDate" class="span-time">{{ comment.creationDate | date }}</span>
        </p>
        <p [innerHTML]="comment.message"></p>
        <img *ngIf="comment.img" [src]="comment.img" alt="">
        <p class="d-flex">
            <button>:-)</button>
            <button>:) +</button>
        </p>
        <p>{{comment.id}}</p>
    </div>
</div>
<app-dialoginput [collectionPath]="this.collPath" [thread]="false"></app-dialoginput>