<header class="bar-header">
    <div class="d-flex align-items-center">
        <h2>Thread</h2>
        <span># Channelname</span>
    </div>
    <button (click)="closeThread()" class="btn-unset close-thread-btn"><img src="assets/svg/x.svg"></button>
</header>
<div class="channel-thread">
    <div class="thread-options">
        <button class="btn-unset"><img src="assets/img/emoji_D1D2D3.png"></button>
        <button class="btn-unset"><img src="assets/img/threads_D1D2D3.png"></button>
        <button class="btn-unset"><img src="assets/img/share_D1D2D3.png"></button>
        <button class="btn-unset"><img src="assets/img/bookmark_D1D2D3.png"></button>
    </div>
    <img [src]="thread.userSrc" class="channel-thread-img">
    <div class="channel-thread-content">
        <!-- This div gets *ngFor for all thread (load max 12 thread and scroll up for older thread) -->
        <p><span>{{ thread.userName + " " }}</span><span *ngIf="thread.creationDate">{{ (thread.creationDate.toLocaleTimeString()) + " Uhr" }}</span></p>
        <p [innerHTML]="thread.message"></p>
        <img *ngIf="thread.img" [src]="thread.img" alt="">
        <p class="d-flex">
            only if reactions already exist
            <button>:-)</button>
            <button>:) +</button>
        </p>
    </div>
</div>
<div class="channel-thread" *ngFor="let threads of collData$ | async">
    <img [src]="threads.userSrc" class="channel-thread-img">
    <div class="channel-thread-content">
        <!-- This div gets *ngFor for all threads (load max 12 threads and scroll up for older threads) -->
        <p><span>{{ threads.userName + " " }}</span><span *ngIf="threads.creationDate">{{ (threads.creationDate.toDate().toLocaleTimeString()) + " Uhr" }}</span></p>
        <p [innerHTML]="threads.message"></p>
        <img *ngIf="threads.img" [src]="threads.img" alt="">
        <p class="d-flex">
            <button>:-)</button>
            <button>:) +</button>
        </p>
        <p>{{threads.id}}</p>
    </div>
</div>
<app-dialoginput [collectionPath]="this.collPath" [thread]="false"></app-dialoginput>