// includes all colors in the project

$background-auth-compontens: #4A154B;
$link-auth-compontens: #fff;
$link-hover-auth-compontens: #007A5A;
$background-main: #424242;

$textcolor-white: #fff;

$button-color-1: #007A5A;

$link: #5f676f;
$link-hover: #f8290d;