// Font color:
$color-main: #D1D2D3;
$color-secondary: #939295;
$color-link: #40b3e4;
// Background colors:
$bg-color: #1A1D21;
$bg-color-hover: #222529;
$bg-color-light: #2A2D30;
$bg-accent: #121016;
$bg-dialog: #1A1D21;