<!-- main component for content / import dialog input component -->
<app-dashboard-header class="main-header"></app-dashboard-header>
<mat-drawer-container class="main-container">
    <!-- <mat-drawer opened mode="{{ toggleMode() }}" #workspaceBar class="workspace-bar"> -->
    <mat-drawer opened [mode]="mobileQuery.matches ? 'push' : 'side'" #workspaceBar class="workspace-bar">
        <app-workspace-bar></app-workspace-bar>
    </mat-drawer>
    <mat-drawer closed mode="side" position="end" class="thread-bar" #threadBar>
        <router-outlet name="right"></router-outlet>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
        <!-- Inside is app-channel-bar.component -->
    </mat-drawer-content>
</mat-drawer-container>