<header class="bar-header">
    <h2>Profile</h2>
    <button (click)="closeThread()" class="btn-unset close-thread-btn"><img src="assets/svg/x.svg"></button>
</header>

<div class="header-img">
    <img [src]="user?.src ? user?.src : 'assets/img/user0.png'">
</div>
<div class="generalContent">
    <div class="d-flex  align-items-center justify-content-between">
        <h2>{{user?.name}}</h2>
        <a *ngIf="userService.currentUser.id == user?.id" (click)="openDialog()">Edit profile</a>
    </div>
    <div class="d-flex  align-items-center">
        <img src="assets/img/circle_008000.png">
        <span>Activ</span>
    </div>
    <div class="d-flex  align-items-center">
        <img src="assets/img/clock_fff.png">
        <span>10:18 Uhr Local Time</span>
    </div>
</div>

<div>
    <div class="d-flex align-items-center justify-content-between">
        <h3>Contact details</h3>
        <a *ngIf="userService.currentUser.id == user?.id" (click)="openDialog()">Edit profile</a>
    </div>
    <div class="d-flex align-items-center">
        <img src="assets/img/mail_fff.png">
        <div class="column d-flex justify-content-center">
            <span>Mail address</span>
            <a href="mailto:{{user?.mail}}">{{user?.mail}}</a>
        </div>
    </div>
    <div class="d-flex align-items-center">
        <img src="assets/img/phone_fff.png">
        <div class="column d-flex justify-content-center">
            <span>phone</span>
            <a *ngIf="user?.phone" href="tel:{{user?.phone}}">{{user?.phone}}</a>
            <a *ngIf="!user?.phone" (click)="openDialog()">+Add phone</a>
        </div>
    </div>
</div>