@import "./../usercard.component.scss";

.bar-header {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    border-bottom: 1px solid rgba(255, 255, 255, .12);

    h2 {
        color: $color-main;
    }
}

.close-thread-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-main;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;

    img {
        width: 1.5rem;
        height: 1.5rem;
        object-fit: cover;
    }

    &:hover {
        background-color: $bg-color-hover;
    }
}

.header-img {
    display: flex;
    justify-content: center;
    width: 100%;

    img {
        display: block;
        border-radius: 8px;
        object-fit: cover;
        height: 14rem;
        width: 14rem;
    }
}

.generalContent {
    border-bottom: 1px solid rgba(255, 255, 255, .12);
}