<header>
    <div class="bar-header">
        <h2>Thread</h2>
        <div class="header-headline" *ngIf="channel.category == 'channel'">
            <h3>#</h3>
            <h3>{{channel.channelName}}</h3>
        </div>
        <div class="header-headlin" *ngIf="channel.category == 'private'">
            <h3>{{channel.users | messagePartner }}</h3>
        </div>
    </div>
    <button (click)="closeThread()" class="btn-unset close-thread-btn">
        <img src="assets/svg/color_d1d2d3/x.svg">
    </button>
</header>

<div class="body" #scrollMe (scroll)="scrolled($event)">
    <div class="channel-thread">
        <div class="thread-options">
            <!-- <button class="btn-unset"><img src="assets/svg/color_d1d2d3/add_reaction.svg" [matMenuTriggerFor]="otheremoji"></button> -->
            <button class="btn-unset"><img src="assets/svg/color_d1d2d3/bookmark.svg"></button>
        </div>
        <img [src]="thread.userId | imgSrc: currentDataService.users" class="channel-thread-img">

        <div class="channel-thread-content">
            <p class="thread-headline">
                <span class="pointer" *ngIf="!(thread.userId | canClick)" (click)="openUserInfoCard(thread)">
                <b>{{ thread.userId | username }}</b>
                </span>
                <span class="span-time" *ngIf="thread.creationDate">
                {{ thread.creationDate| date }}
                </span>
            </p>
            <p class="emoji-container" *ngIf="thread.reactions.length > 0">
                <button class="btn-unset btn-current-emoji" *ngFor="let reaction of thread.reactions; let u = index" matTooltip="{{reaction.users | username}} reacted like this." matTooltipPosition="above" (click)="evalMainThread(reaction.id)">
                    <span>{{reaction.id}}</span>
                    <span>{{reaction.users.length}}</span>
                    <!-- <mat-menu #otheremoji="matMenu" xPosition="before">
                        <ng-template matMenuContent>
                            <emoji-mart appClickStopPropagation [i18n]="{search: 'Recherche',categories:
                            { search: 'Résultats de recherche', recent: 'Récents' }}" (emojiSelect)="evalMainThread(reaction.id)">
                            </emoji-mart>
                        </ng-template>
                    </mat-menu> -->
                </button>
                <!-- <button [matMenuTriggerFor]="otheremoji" class="btn-unset btn-current-emoji">
                    <img class="add-reaction" src="assets/svg/color_d1d2d3/add_reaction.svg">
                </button> -->
            </p>
            <p [innerHTML]="thread.message"></p>
            <button class="btn-unset" (click)="openBox(thread.img)" *ngIf="thread.img">
                <img class="post-image" [src]="thread.img">
            </button>

        </div>
    </div>


    <div class="thread-separator">
        <div>
            <span>Replies</span>
            <hr>
        </div>
    </div>

    <div class="div-btn-load-more" *ngIf="moreToLoad">
        <button class="btn-unset" (click)="isMoreToLoad()">Load More</button>
    </div>
    <div class="channel-thread" *ngFor="let comment of comments; let c = index">
        <div class="thread-options">
            <button class="btn-unset" [matMenuTriggerFor]="emoji">
            <img src="assets/svg/color_d1d2d3/add_reaction.svg">
            <mat-menu #emoji="matMenu" xPosition="before">
                <ng-template matMenuContent>
                    <emoji-mart appClickStopPropagation (emojiSelect)="evaluateThread($event.emoji.native, c)" [i18n]="{search: 'Recherche',categories:
                    { search: 'Résultats de recherche', recent: 'Récents' }}">
                    </emoji-mart>
                </ng-template>
            </mat-menu>
        </button>
            <button class="btn-unset">
            <img src="assets/svg/color_d1d2d3/bookmark.svg">
        </button>
        </div>
        <img [src]="comment.userId | imgSrc: currentDataService.users" class="channel-thread-img">
        <div class="channel-thread-content">
            <div class="thread-headline">
                <span class="pointer" *ngIf="!(comment.userId | canClick)" (click)="openUserInfoCard(comment)">
                <b>{{ comment.userId | username }}</b>
            </span>
                <span *ngIf="comment.creationDate" class="span-time">{{ comment.creationDate | periodOfTime }} ago</span>
            </div>
            <p [innerHTML]="comment.message"></p>
            <button class="btn-unset" (click)="openBox(comment.img)" *ngIf="comment.img">
                <img [src]="comment.img" alt="" class="post-image">
            </button>
            <p class="emoji-container" *ngIf="comment.reactions.length > 0">
                <button class="btn-unset btn-current-emoji" *ngFor="let reaction of comment.reactions; let u = index" (click)="evaluateThread(reaction.id, c)" matTooltip="{{reaction.users | username}} reacted like this." matTooltipPosition="above">
                <span>{{reaction.id}}</span>
                <span>{{reaction.users.length}}</span>
            </button>
                <button class="btn-unset btn-current-emoji" [matMenuTriggerFor]="emoji">
                <img class="add-reaction" src="assets/svg/color_d1d2d3/add_reaction.svg">
            </button>
            </p>
        </div>
    </div>
    <app-message-editor *ngIf="isInChannel()" [collectionPath]="this.collPath" [thread]="false"></app-message-editor>
</div>