<header>
    <div class="bar-header">
        <h2>Bookmarks</h2>
    </div>
    <button (click)="closeThread()" class="btn-unset close-thread-btn">
        <img src="assets/svg/color_d1d2d3/x.svg">
    </button>
</header>

<div class="body" #scrollMe (scroll)="scrolled($event)">

    <div class="channel-thread" style="border-bottom: 0.1px solid;" *ngFor="let comment of comments; let c = index">
        
        <div class="thread-options">
            <button class="btn-unset" [matMenuTriggerFor]="emoji">
            <img src="assets/svg/color_d1d2d3/add_reaction.svg" title="add reaction">
            <mat-menu #emoji="matMenu" xPosition="before">
                <ng-template matMenuContent>
                    <emoji-mart appClickStopPropagation (emojiSelect)="evaluateThread($event.emoji.native, c)" [i18n]="{search: 'Recherche',categories:
                    { search: 'Résultats de recherche', recent: 'Récents' }}">
                    </emoji-mart>
                </ng-template>
            </mat-menu>
        </button>
            <button class="btn-unset">
            <img src="assets/svg/color_d1d2d3/bookmark_full.svg" (click)="deleteBookmark(comment.id)" title="delete bookmark">
        </button>
        </div>
        <img [src]="comment.userId | imgSrc: currentDataService.users" class="channel-thread-img">
        <div class="channel-thread-content">
            <!-- This div gets *ngFor for all comment (load max 12 comment and scroll up for older comment) -->
            <div class="thread-headline">
                <span class="pointer" *ngIf="!(comment.userId | canClick)" (click)="openUserInfoCard(comment)">
                <b>{{ comment.userId | username }}</b>
            </span>
                <span *ngIf="comment.creationDate" class="span-time">{{ comment.creationDate | periodOfTime }} ago</span>
            </div>
            <p [innerHTML]="comment.message"></p>
            <button class="btn-unset" (click)="openBox(comment.img)" *ngIf="comment.img">
                <img [src]="comment.img" alt="" class="post-image">
            </button>
            <p class="emoji-container" *ngIf="comment.reactions.length > 0">
                <button class="btn-unset btn-current-emoji" *ngFor="let reaction of comment.reactions; let u = index" (click)="evaluateThread(reaction.id, c)" matTooltip="{{reaction.users | username}} reacted like this." matTooltipPosition="above">
                <span>{{reaction.id}}</span>
                <span>{{reaction.users.length}}</span>
            </button>
                <button class="btn-unset btn-current-emoji" [matMenuTriggerFor]="emoji">
                <img class="add-reaction" src="assets/svg/color_d1d2d3/add_reaction.svg">
            </button>
            </p>
        </div>
    </div>
</div>