.bookmarks-container{
    width:  50vw;
    min-height: 45vh;
    max-height: calc(95vh - 48px);
    display: flex;
    flex-direction: column;
    background-color: rgb(88, 85, 85);
    input{      
        outline: none;
        border-radius: 5px;
        &::placeholder{
            font-style: italic;
            font-size: 14px;
        }
    }
}

mat-form-field{
    margin-left: 5%;
    width: 90%;
}

.header-container{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 3px;
}

mat-form-field-wrapper{
    margin: 0;
}


.bookmark-text{
    background-color: rgb(224, 255, 255);
    padding: 10px;
    border-radius: 5px;
    width: 85%;
    margin-left: 5%;
    margin-bottom: 20px;
    color: black;
}

.title{
    padding: 5px;
}

.close{
    cursor: pointer;
    padding: 5px;
    &:hover{
        background-color: lightgrey;
        border-radius: 5px;
        color: white;
        font-weight: bold;
    };
}

button{
    background-color: green !important;
}

.button{
    margin-right: 5%;
    display: flex;
    justify-content: end;
}


.header-container{
    p{
        font-size: 20px;
    }
}
