@import "../../../../../assets/scss/company-colors.scss";

.over-container {
    width: 100%;
    background-color: $bg-color;
    min-height: calc(100vh - 100px);
    padding-bottom: 50px;
}

.body-container{
    position: relative;
}

.header-container {
    position: relative;
    padding: 0 15px;
    background-color: white;
    border-right: 1px solid lightgrey;
    h2 {
        padding: 10px 0;
        margin: 0;
        color: black;
    }
    .search-container {
        display: flex;
        align-items: center;
        padding: 10px 0;
        color: $bg-dialog;
        font-size: 16px;
        // width: 250px;
        p{
            padding-right: 5px;
            margin: 0;
        }
        input{
            width: 100%;
            background-color: transparent;
            outline: none;
            border: none;
        }
    }
}

.select-user{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(232,245,250);
    padding: 2px;
    border-radius: 10px;
    span{
        display: flex;
        align-items: center;
        margin-right: 15px;
        color: black;
        text-align: center;
    }    

}
.select-user-list{
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.x-icon{
mat-icon{
    color: gray;
    font-size: 20px;
    font-weight: 200;
    vertical-align: middle!important;
    height: auto;
    width: auto;
  }
  &:hover{
    mat-icon{
        color: black;
    }
    background-color: rgb(230,230,230);
    cursor: pointer;
}
}

.search-user-list-container{
    position: absolute;
    z-index: 10;
    top: -10px;
    border: 1px solid black;
    left: 15px;
}


.search-user-list{
    width: calc(100vw - 340px);
    background-color: rgb(197, 191, 191);
    color: black;
    &:hover{
        background-color: rgb(232,245,250);
    }
    div{
        display: flex;
        align-items: center;
        padding: 5px 0;
        cursor: pointer; 
    }
    p{
        margin: 0;
    }
}

.user-image{
    height: 24px;
    width: 24px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
    object-fit: cover;
}