<div class="over-container">
    <div class="header-container">
        <h2>Direct messages</h2>
        <div class="search-container w-100">
            <div class="w-100 d-flex align-items-center">
                <p>To:</p>
                <div class="select-user-list" *ngFor="let user of usersToChat">
                    <div class="select-user">
                        <span>
                            <img class="user-image" src="{{ user.src }}">
                            <p><strong>{{ user.name }}</strong></p>
                        </span>
                        <div class="x-icon" (click)="deleteUserToChat(user)">
                            <mat-icon>close</mat-icon>
                        </div>
                    </div>
                </div>
            </div>
            <div class="search-container">
                <input #searchUserField placeholder="Search user, space = all users"
                type="text" [ngModel]="mymodel" (ngModelChange)="valuechange($event)" />
            </div>
        </div>
    </div>
    <div class="body-container">
        <div class="search-user-list-container" *ngIf="searchUsers !== ''">
            <div class="search-user-list" *ngFor="let user of allUsers">
                    <div *ngIf=" user.name.toLowerCase().includes(searchUsers.toLowerCase()) || searchUsers == ' ' " (click)="addUser(user, searchUserField)">
                        <img class="user-image" src="{{ user.src }}">
                        <p><strong>{{ user.name }}</strong></p>
                    </div>
                    <!-- <div *ngIf=" !foundUser.name.toLowerCase().includes(searchUsers.toLowerCase())">
                        <img class="found-user-image" src="assets/img/user0.png">
                        <p><strong>No match found</strong></p>
                    </div> -->
            </div>
        </div>
    </div>
    <app-dialoginput *ngIf="usersToChat.length > 0" [collectionPath]="this.collPath" [thread]="true"></app-dialoginput>
</div>