<div></div>
<button class="btn-unset btn-header-search d-flex justify-content-between">
    <span>Search in Developer Akademie</span>
    <div class="d-flex">
        <img src="assets/img/filter_D1D2D3.png">
        <img src="assets/img/search_D1D2D3.png">
    </div>
</button>
<div class="d-flex align-items-center" style="gap: 1.5rem;">
    <img class="help-icon" src="assets/img/help_D1D2D3.png">
    <div class="d-flex">
        <div class="emoji-state"></div>
        <button [matMenuTriggerFor]="beforeMenu" class="btn-unset avatar"><img src="assets/img/user2.jpg"></button>
    </div>
</div>

<mat-menu #beforeMenu="matMenu" xPosition="before">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
</mat-menu>

<!-- Filter <a target="_blank" href="https://icons8.com/icon/86844/slider">Slider</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->
<!-- search-Icon<a target="_blank" href="https://icons8.com/icon/82712/search">Search</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->
<!-- Support <a target="_blank" href="https://icons8.com/icon/83244/help">Help</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->