<div style="height:100%;">
    <header>
        <!-- <div class="header-headline"> -->
        <div class="bar-header">
            <button (click)="toggleLeftSidebar()" class="workspace-btn">
                <img *ngIf="leftSideBar" src="assets/svg/color_d1d2d3/left_panel_open.svg">
                <img *ngIf="!leftSideBar" src="assets/svg/color_d1d2d3/left_panel_close.svg">
            </button>
            <div class="all-channels-header">
                <h2>All Channels</h2>



                <button class="btn-unset btn-create-channel">Create channel</button>

            </div>
        </div>
    </header>
</div>