@import "../../../../../../assets/scss/mixin.scss";
@import "../../../../../../assets/scss/colors.scss";

.over-container {
    @include containerSize(unset, 100%);
    min-height: calc(100vh - 100px);
    padding-bottom: 50px;
    background-color: $bg-color-main;

    .header-container {
        position: relative;
        padding: 15px;
        background-color: white;
        border-right: 1px solid lightgrey;

        h2 {
            color: black;
            padding-bottom: 1rem;
        }

        .search-container {
            @include containerPosition(unset, center);
            color: $bg-dialog;
            font-size: 16px;

            p {
                margin: 0;
                padding-right: 5px;
            }

            input {
                width: 100%;
                background-color: transparent;
                outline: none;
                border: none;
            }
        }
    }
}

.body-container {
    position: relative;
}

.select-user {
    width: auto;
    @include containerPosition(center, center);
    background: rgb(232, 245, 250);
    padding: 2px;
    border-radius: 10px;

    div {
        @include containerPosition(unset, center);
        margin-right: 15px;
        color: black;

        p {
            margin: 0
        }
    }
}

.select-user-list {
    @include containerPosition(unset, center);
    margin: 0 10px;
}

.x-icon {
    mat-icon {
        img {
            height: 100%;
            width: 100%;
        }
    }

    &:hover {
        mat-icon {
            color: black;
        }

        background-color: rgb(230, 230, 230);
        cursor: pointer;
    }
}

.search-user-list-container {
    @include positionAbsolute(-10px, 15px, unset, 15px);
    @include border(1px, solid, black);
    z-index: 10;
}

.search-user-list {
    background-color: rgb(197, 191, 191);
    color: black;

    &:hover {
        background-color: rgb(232, 245, 250);
    }

    div {
        display: flex;
        align-items: center;
        padding: 5px 0;
        cursor: pointer;
    }

    p {
        margin: 0;
    }
}

.user-image {
    @include image(cover, 24px, 24px);
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
}