@import "../../../../../../assets/scss/colors.scss";
@import "../../dashboard.component.scss";
@import "../../../../../../assets/scss/mixin.scss";
.over-container {
    @include containerSize(unset, 100%);
    min-height: calc(100vh - 100px);
    padding-bottom: 50px;
    background-color: $bg-color-main;
    .header-container {
        position: relative;
        padding: 15px;
        border-right: 1px solid $border-button-main;
        h2 {
            padding-bottom: 1rem;
        }
        .search-container {
            @include containerPosition(unset, center);
            font-size: 16px;
            p {
                margin: 0;
                padding-right: 5px;
            }
            input {
                width: 100%;
                background-color: transparent;
                outline: none;
                border: none;
                color: $color-main;
            }
        }
    }
}

.body-container {
    position: relative;
}

.select-user {
    width: auto;
    @include containerPosition(center, center);
    background: $bg-color-hover;
    padding: 2px;
    border-radius: 10px;
    div {
        @include containerPosition(unset, center);
        margin-right: 15px;
        p {
            margin: 0
        }
    }
}

.select-user-list {
    @include containerPosition(unset, center);
    margin: 0 10px;
}

.x-icon {
    mat-icon {
        img {
            height: 100%;
            width: 100%;
        }
    }
    &:hover {
        mat-icon {
            color: $color-main;
        }
        background-color: $bg-color-hover;
        cursor: pointer;
    }
}

.search-user-list-container {
    @include positionAbsolute(-10px, 15px, unset, 15px);
    @include border(1px, solid, $border-button-main);
    border-radius: 4px;
    z-index: 10;
    box-shadow: var(--mdc-dialog-container-elevation, 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12));
}

.search-user-list {
    &:hover {
        background-color: $bg-color-hover;
    }
    div {
        display: flex;
        align-items: center;
        padding: 5px 0;
        cursor: pointer;
    }
    p {
        margin: 0;
    }
}

.user-image {
    @include image(cover, 24px, 24px);
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
}