@import "../../../../../assets/scss/colors.scss";
@import "../../../../../assets/scss/company-colors.scss";
@import "../dashboard.component.scss";
$gap_channel_thread: .5rem;
.channel-thread {
    display: grid;
    grid-template-columns: 4rem 1fr;
    gap: $gap_channel_thread;
    padding: .5rem 1.5rem;
    &:hover {
        background-color: $bg-color-hover;
    }
}

.channel-thread-img {
    height: 2.6rem;
    width: 2.6rem;
}

.channel-thread-comments {
    color: #1D9BD1;
    font-weight: 700;
}

.workspace-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    img {
        display: block;
        height: 1.5rem;
        width: 1.5rem;
    }
    &:hover {
        background-color: $bg-color-hover;
    }
}

.go-to-thread {
    width: 100%;
    cursor: pointer;
    gap: .5rem;
    align-items: center;
    padding: 0;
    background: unset;
    border: unset;
    padding-block: .2rem;
    border: 1px solid transparent;
    border-radius: .5rem;
    color: $color-main;
    img {
        height: 1.5rem;
        width: 1.5rem;
    }
    &:hover {
        background-color: $bg-color;
        border: 1px solid rgba(255, 255, 255, .12);
    }
}