<div class="userCard">
    <mat-card>
        <mat-card-header>
            <img src="../../../../assets/img/user0.png">
            <span>Username</span>
        </mat-card-header>
        <mat-card-content>
            <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>account_circle</mat-icon>
                        Username
                    </mat-panel-title>
                    <mat-panel-description>
                        <mat-icon>expand_more</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <mat-form-field appearance="fill">
                    <mat-label>First name</mat-label>
                    <input matInput>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Age</mat-label>
                    <input matInput type="number" min="1">
                </mat-form-field>

            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>mail</mat-icon>
                        E-Mail adress
                    </mat-panel-title>
                    <mat-panel-description>
                        <mat-icon>expand_more</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <mat-form-field appearance="fill">
                    <mat-label>First name</mat-label>
                    <input matInput>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Age</mat-label>
                    <input matInput type="number" min="1">
                </mat-form-field>

            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>lock</mat-icon>
                        Password
                    </mat-panel-title>
                    <mat-panel-description>
                        <mat-icon>expand_more</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <mat-form-field appearance="fill">
                    <mat-label>First name</mat-label>
                    <input matInput>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Age</mat-label>
                    <input matInput type="number" min="1">
                </mat-form-field>

            </mat-expansion-panel>

        </mat-card-content>
    </mat-card>
</div>