@import "./../usercard.component.scss";

.userCard {
    mat-card {

        mat-card-header {
            align-items: center;
            background-color: #1A1D21;
            padding-bottom: 16px;

            img {
                object-fit: cover;
                height: 75px;
                width: 75px;
                margin-right: 16px;
                border-radius: 8px;
            }

            span {
                font-size: 1.5rem;
            }
        }



        .actionButton {
            width: 50%;
            cursor: pointer;
            padding: 10px;
            font-weight: 600;
            font-size: 1rem;
            letter-spacing: 0.15rem;
            border-radius: 4px;
            outline: none;
            border: none;

            &:hover {
                opacity: 0.75;
            }
        }

        .submit {
            margin-top: 16px;
            font-weight: 800;
            font-size: 1.25rem;
        }
    }
}

mat-expansion-panel-header {
    padding: 0 0 0 24px !important;
}

mat-panel-description {
    justify-content: end;
}