<!-- Valer Input area -->

<div class="card" *ngFor="let card of comments">
  <p>
    <strong>{{ card.userid }}</strong>
  </p>
  <p>{{ card.message }}</p>
</div>
<mat-card id="chatcard">
  <!-- <mat-card-header class="header">
    <mat-card-subtitle>
      
      <div class="editor-menubar">
        <button class="editor-btn" data-attribute="bold">Bold</button>
        <button class="editor-btn" data-attribute="italic">Italic</button>
        <button class="editor-btn" data-attribute="underline">Underline</button>
      </div>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <textarea
      placeholder="leave a message"
      rows="3"
      [(ngModel)]="message"
      id="textarea"
    ></textarea>
  </mat-card-content> -->
  <angular-editor placeholder="'Enter text here...'" [(ngModel)]="message"></angular-editor>

  <div class="under">
    <span class="material-icons" [matMenuTriggerFor]="emoij">mood</span>

    <button (click)="getMessage()">
      <mat-icon aria-hidden="false" fontIcon="double_arrow"></mat-icon>
    </button>
  </div>

  <mat-menu #emoij="matMenu">
    <emoji-mart (emojiSelect)="handleClick($event)" [i18n]="{
        search: 'Recherche',
        categories: { search: 'Résultats de recherche', recent: 'Récents' }
      }"></emoji-mart>
  </mat-menu>

  <!-- https://github.com/kolkov/angular-editor -->


  <!-- <emoji-mart title="Pick your emoji…" emoji="point_up"></emoji-mart>  -->

  <!-- <emoji-mart [set]="''" [darkMode]="true" [isNative]="native" [hideRecent]="false" [custom]="CUSTOM_EMOJIS"
        (emojiSelect)="handleClick($event)" title="Pick your emoji…" emoji="point_up">
      </emoji-mart> -->

  <!-- <emoji-mart set="emojione"></emoji-mart> -->
  <!-- <emoji-mart (emojiClick)="addEmoji($event)"></emoji-mart> -->
  <!-- <emoji-mart [style]="{ position: 'absolute', bottom: '20px', right: '20px' }"></emoji-mart> -->
</mat-card>