@import "../../../../assets/scss/colors.scss";
@import "node_modules/@ctrl/ngx-emoji-mart/picker.css";

.header {
  background-color: gray;
}

textarea {
  margin-top: 10px;
  border: none;
  outline: none;
  resize: none;
  width: 100%;
}

#chatcard {
  background-color: white;
  color: #000;
  position: absolute;
  bottom: 50px;
  width: 90%;
  left: 5%;
}

.material-icons {
  cursor: pointer;
}

mat-card-content {
  background-color: white;
}

.card {
  margin-left: 30px;
}

.under{
  display: flex;
  justify-content: flex-end;
}
emoji-mart.section{
  width: 260px !important;
}

.send-btn{
  border: none;
  background-color: rgba(23, 47, 128, 0.3);
}

.upload-img{
  max-height: 200px;
  max-width: 200px;
}

// input[type="file"] {
//   display: none;
// }

.send-icon2{
  position: absolute;
  right: 12px;
  top: 8px;
  label{
      cursor: pointer;
  }
  &:hover{
      color: #A161A3;
     
  }
}
