@import "../../../../assets/scss/colors.scss";
@import "node_modules/@ctrl/ngx-emoji-mart/picker.css";
// @import '~@ctrl/ngx-emoji-mart/picker';


.header {
  background-color: gray;
}

textarea {
  margin-top: 10px;
  border: none;
  outline: none;
  resize: none;
  width: 100%;
}

#chatcard {
  position: absolute;
  bottom: 50px;
  width: 90%;
  left: 5%;
}

.material-icons {
  cursor: pointer;
}

mat-card-content {
  background-color: white;
}

.card {
  margin-left: 30px;
}

.editor-menuebar{
  display: flex;
  justify-content: flex-start;
  align-items: center;

    &button {
      color: #ffffff;
      padding: 1rem;
      background-color: rgba(255, 255, 255, 0.1);
      cursor: pointer;
      transition: all 230ms;
      border: none;

      &hover{
        background-color: aqua;
      }
      &focus{
        outline: none;
      }
    }
}