<div class="userCard">
    <mat-card>
        <mat-card-header>
            <img [src]="userService.currentUser.src ? userService.currentUser.src : 'assets/img/user0.png'">
            <div>
                <span>{{userService.currentUser.name}}</span>
                <button class="btn btn-default" style="cursor: pointer;" flow-btn (click)="fInput.click()">Edit
                    Picture</button>
                <input #fInput type="file" style="visibility: hidden; position: absolute;" (change)="upload($event)">
            </div>
        </mat-card-header>
        <mat-card-content>
            <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>account_circle</mat-icon>
                        Username
                    </mat-panel-title>
                    <mat-panel-description>
                        <mat-icon>expand_more</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <form (ngSubmit)="updateUserName()" [formGroup]="username">
                    <mat-form-field appearance="fill">
                        <mat-label>Enter new username</mat-label>
                        <input matInput formControlName="username" required>
                        <mat-error *ngIf="username.invalid">{{getErrorMessage(username,'username')}}</mat-error>
                    </mat-form-field>
                    <button [disabled]="!username.valid" class="actionButton" mat-raised-button>Save new
                        username</button>
                </form>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>mail</mat-icon>
                        E-Mail
                    </mat-panel-title>
                    <mat-panel-description>
                        <mat-icon>expand_more</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <form (ngSubmit)="updateUserEmail()" [formGroup]="email">
                    <mat-form-field appearance="fill">
                        <mat-label>Enter new email</mat-label>
                        <input matInput formControlName="email" required>
                        <mat-error *ngIf="email.invalid">{{getErrorMessage(email,'email')}}</mat-error>
                    </mat-form-field>
                    <button [disabled]="!email.valid" class="actionButton" mat-raised-button>Save new email</button>
                </form>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>lock</mat-icon>
                        Password
                    </mat-panel-title>
                    <mat-panel-description>
                        <mat-icon>expand_more</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <form (ngSubmit)="updateUserPassword()" [formGroup]="password">
                    <mat-form-field appearance="fill">
                        <mat-label>Enter your password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
                        <mat-error *ngIf="password.invalid">{{getErrorMessage(password,'password')}}</mat-error>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <button [disabled]="!password.valid" class="actionButton" mat-raised-button>Save new
                        password</button>
                </form>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>phone_android</mat-icon>
                        Telephone
                    </mat-panel-title>
                    <mat-panel-description>
                        <mat-icon>expand_more</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-form-field appearance="fill">
                    <mat-label>Enter your telephone number</mat-label>
                    <input #telephone type="number" matInput>
                </mat-form-field>
                <button (click)="updateTelephone()" class="actionButton" mat-raised-button>Save telephone</button>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>person_remove</mat-icon>
                        Delete User
                    </mat-panel-title>
                    <mat-panel-description>
                        <mat-icon>expand_more</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-form-field appearance="fill">
                    <mat-label>! Enter username ! Danger !</mat-label>
                    <input [(ngModel)]="deletUsername" matInput>
                </mat-form-field>
                <button [disabled]="deletUsername !== userService.currentUser.name" (click)="deleteCurrentUser()"
                    class="deleteButton" mat-raised-button>Delete User</button>
            </mat-expansion-panel>
        </mat-card-content>
    </mat-card>
</div>