<header class="bar-header">
    <h2>Workspace-Header</h2>
</header>

<ul>
    <li>Threads</li>
    <li>Direktnachrichten</li>
    <li>Erwähnungen und Reaktionen</li>
    <li>Lesezeichen</li>
</ul>

<mat-divider></mat-divider>

<ul>
    <li>
        <mat-accordion class="channels-accordion">
            <mat-expansion-panel hideToggle [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div class="d-flex channels-header-title">
                            <span>Channels</span>
                            <button appClickStopPropagation (click)="openDialog()">+</button>
                        </div>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <li *ngFor="let channel of collData$ | async"><a [routerLink]="">{{channel.name}}</a></li>
            </mat-expansion-panel>
        </mat-accordion>
    </li>
</ul>

<button (click)="createChannelService.saveThread()">Create Thread</button>
<button (click)="createChannelService.saveComment()">Create Comment</button>