<header class="bar-header">
    <h2>Workspace-Bar</h2>
</header>

<ul>
    <li><img src="assets/img/threads_939295.png" />Threads</li>
    <li><img src="assets/img/direct_mess_939295.png" />Direct messages</li>
    <li><img src="assets/img/at_939295.png" />Mentions and reactions</li>
    <li><img src="assets/img/drafts_939295.png" />Drafts and sent</li>
    <li><img src="assets/img/bookmark_939295.png" />Bookmarks</li>
</ul>

<mat-divider></mat-divider>

<ul>
    <li>
        <mat-accordion class="channels-accordion">
            <mat-expansion-panel hideToggle [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div class="d-flex channels-header-title">
                            <span>Channels</span>
                            <button appClickStopPropagation (click)="openDialog()" class="btn-unset btn-add-channel">
                <img src="assets/img/plus_939295.png" />
              </button>
                        </div>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <li *ngFor="let channel of channels">
                    <a [routerLink]="['/main/' + channel.id]">
                        <div style="font-size: 1.2rem; width: 1.2rem">#</div>
                        {{ channel.channelName }}
                    </a>
                </li>
            </mat-expansion-panel>
        </mat-accordion>
    </li>
</ul>

<ul>
    <li>
        <mat-accordion class="channels-accordion">
            <mat-expansion-panel hideToggle [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div class="d-flex channels-header-title">
                            <span>Direct Messages</span>
                            <button appClickStopPropagation routerLink='/main/newMessage' class="btn-unset btn-add-channel">
                <img src="assets/img/plus_939295.png" />
              </button>
                        </div>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <li *ngFor="let private of privates">
                    <a [routerLink]="['/main/' + private.id]">
                        <div style="font-size: 1.2rem; width: 1.2rem">#</div>
                        {{ private.users | messagePartner: currentData.users }}
                    </a>
                </li>
            </mat-expansion-panel>
        </mat-accordion>
    </li>
</ul>

<!-- <div *ngFor="let channels2 of collData2$ | async ">{{channels2.name}}</div>

<button (click)="createChannelService.saveThread()">Create Thread</button>
<button (click)="createChannelService.saveComment()">Create Comment</button> -->

<!-- Threads: <a target="_blank" href="https://icons8.com/icon/TfBuMnTzwL0v/chat-message">Chat Message</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->
<!-- Direct Messages :<a target="_blank" href="https://icons8.com/icon/87372/communication">Communication</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->
<!-- At-Sign: <a target="_blank" href="https://icons8.com/icon/82785/at-sign">At sign</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->
<!-- Drafts: <a target="_blank" href="https://icons8.com/icon/85940/sent">Sent</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->
<!-- Bookmark: <a target="_blank" href="https://icons8.com/icon/82461/bookmark">Bookmark</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->