@import "../../../../../../assets/scss/colors.scss";
@import "../../dashboard.component.scss";
@import "../../../../../../assets/scss/mixin.scss";
.show-thread {
    display: none;
}

.channel-thread-comments {
    color: #1D9BD1;
    font-weight: 700;
}

.go-to-thread {
    width: 100%;
    cursor: pointer;
    gap: .5rem;
    align-items: center;
    padding: 0;
    background: unset;
    border: unset;
    padding-block: .2rem;
    padding-inline: 1rem;
    border: 1px solid transparent;
    border-radius: .5rem;
    color: $color-main;
    img {
        height: 1.5rem;
        width: 1.5rem;
        object-fit: cover;
        border-radius: 0.25rem;
    }
    &:hover {
        background-color: $bg-color-main;
        border: 1px solid $border-button-main;
        .time-of-last-answer {
            display: none;
        }
        .show-thread {
            display: unset;
        }
    }
}

.channel-messages {
    // @include containerPosition(flex-end, unset, column);
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100% - 300px);
    padding-top: 2rem;
}

.channel-members {
    @include containerPosition(unset, center);
    @include border(1px, solid, $border-button-main, .5rem);
    button {
        &:hover {
            background-color: $bg-color-hover;
        }
    }
}

.btn-members {
    @include containerPosition(unset, center);
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    gap: 1px;
    border-right: 1px solid $border-button-main;
    padding-block: .3rem;
    img {
        box-shadow: 0 0 0 2px $bg-color-main;
        margin-right: -0.25rem;
    }
    span {
        color: $color-main;
        font-weight: 700;
        white-space: nowrap;
        padding-inline: .7rem;
    }
}

.btn-add-member {
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    padding-block: .3rem;
    padding-inline: .5rem;
}

.add-bookmark-container {
    background-color: $bg-color-main;
    border-bottom: 1px solid $border-button-main;
    padding-block: .3rem;
    padding-inline: 1rem;
    div {
        &:hover {
            background-color: $bg-color-hover;
            border-radius: 5px;
            cursor: pointer;
        }
        p {
            @include containerPosition(unset, center);
            font-size: 12px;
            margin: 0;
            color: darkgray;
            padding: 5px;
        }
    }
    img {
        height: 16px;
        width: 16px;
    }
}

.bookmark {
    @include containerPosition(flex, center);
    text-decoration: none;
    &:hover {
        background-color: $bg-color-hover;
        border-radius: 5px;
        cursor: pointer;
    }
}

.close {
    margin-left: 10px;
    margin-right: 3px;
}

@media (max-width: 1000px) {
    .max-title {
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100px;
        height: 2rem;
    }
}