@import "./../../../assets/scss/colors.scss";
@import "./../../../assets/scss/mixin.scss";

.authMain {
    @include containerSize(100vh, 100vw);
    @include containerPosition(center, center);
    background-color: $background-auth-compontens;

    .backgroundLoginImg {
        @include image(cover, 100vh, 100vw);
        @include positionAbsolute(0, 0);
        overflow: hidden;
        opacity: 0.2;
    }

    mat-card {
        padding: 40px;
        min-width: 450px;

        mat-card-header {
            @include containerPosition(center, center);
            padding-bottom: 16px;

            .placeholderIcon {
                @include image(cover, 64px, 64px);
                padding-right: 16px;
            }
        }

        mat-card-subtitle {
            font-size: clamp(1.25rem, 0.704rem + 1.48vw, 2rem) !important;
            text-align: center;
            margin-bottom: 40px;
        }

        .headerButtons {
            @include containerPosition();
            gap: 16px;
            padding-bottom: 16px;
        }

        mat-form-field {
            display: block !important;

            button {
                background-color: transparent;
                border: none;
            }
        }

        .actionButton {
            @include noBorderWithRadius(4px);
            @include containerSize(auto, 100%);
            padding: 10px;
            font-size: 1rem;
            font-weight: 600;
            letter-spacing: 0.15rem;
            outline: none;

            &:hover {
                opacity: 0.75;
            }
        }

        .submit {
            margin-top: 16px;
            font-size: 1.25rem;
            font-weight: 800;
        }

        .enable {
            @include border(1px, solid, $border-button-enable);
            background-color: $background-button-auth1;
        }

        .disable {
            @include border(1px, solid, $border-button-disable);
            background-color: $background-button-auth2;
        }
    }

    a {
        color: $link-auth-compontens;

        &:hover {
            color: $link-hover-auth-compontens;
        }
    }

    .legalNotice {
        @include positionAbsolute(unset, 32px, 32px);
        z-index: 999;
        font-size: 1.25rem;

        a {
            margin-left: 16px;
        }
    }
}

//---------------------------------------------------------------// 
//----------------------// Media Queries //----------------------// 
//---------------------------------------------------------------// 

@media (max-width: 450px) {
    mat-card {
        padding: 0 !important;
        width: 100% !important;
        min-width: unset !important;
    }
}